<div mb-3>
  <br>Treenikalenteri on harjoitusten seurannan sovellus. 
  <br><br>Palveluun voi kuka tahansa rekisteröityä sähköpostiosoitteella. Rekisteröitynyt
  käyttäjä voi liiittyä harjoitusryhmiin tai luoda uusia ryhmiä. Ryhmän luoja on automaattisesti ryhmän valmentaja. 
  <br><br>Valmentaja  näkee ryhmänsä uimarien kirjaukset, mutta uimari voi tarkastella vain omia kirjauksiaan. 
  <br><br>Kirjauksista voi näyttää erilaisia kuukausiraportteja tai tiedot voi ladata Excellin.
  <br><br>
</div>