<nav class='navbar navbar-dark bg-dark navbar-expand-lg fixed-bottom navbar-toggleable-xl'>
  <div class='container col-xs-12' id='navbarSupportedContent'>
    <button [routerLink]='["/info"]' class='btn btn-outline-success col-2 my-2 my-sm-0 btn-block btn-primary-spacing'><i class="fa fa-home fa-2x" aria-hidden="true"></i></button>
    <button [routerLink]='["/login"]' class='btn btn-outline-success col-2 my-2 my-sm-0 btn-block btn-primary-spacing' title='Kirjaudu'><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></button>
    <button [routerLink]='["/reports"]' class='btn btn-outline-success col-2 my-2 my-sm-0 btn-block btn-primary-spacing' title='Kirjaudu'><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></button>
    <button [routerLink]='["/groups"]' class='btn btn-outline-success col-2 my-2 my-sm-0 btn-block btn-primary-spacing'><i class="fa fa-users fa-2x" aria-hidden="true"></i></button>
  </div>
</nav>