<nav class='navbar navbar-dark bg-dark navbar-expand-lg fixed-bottom navbar-toggleable-xl'>
  <div class='container col-6' id='navbarSupportedContent'>
    <button [routerLink]='["/"]' class='btn btn-outline-success my-2 my-sm-0 btn-block btn-primary-spacing'>Home</button>
    <button [routerLink]='["/login"]' class='btn btn-outline-success my-2 my-sm-0 btn-block btn-primary-spacing'>Login</button>
    <button [routerLink]='["/groups"]' class='btn btn-outline-success my-2 my-sm-0 btn-block btn-primary-spacing'>Groups</button>
  </div>
</nav>