<div class='container col-lg-6'>
  <div class='border-bottom pt-2 mb-2'>
    <h5>
      Tapahtumat
      <button [routerLink]="['/events', 'new']" class='btn btn-success btn-primary-spacing'>
        <i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i> Uusi</button>
    </h5>
  </div>
  <div *ngIf="groupId === undefined">Valitse ryhmä <a [routerLink]='"/groups"'>Ryhmät</a></div>
  <div *ngFor="let event of events" class='row pb-1'>
    <div class='col col-6 text-align-left'>
      {{ getDayOfWeek(event.date_time) }} {{ getDateStr(event.date_time) }}
    </div>
    <div class='row'>
      <button [routerLink]='["/events", event.id]' class='btn btn-success btn-primary-spacing'>Muokkaa</button>
      <button (click)='deleteEvent(event.id)' class='ml-1 btn btn-success btn-primary-spacing'>Poista</button>
    </div>
  </div>
</div>